body {
  margin: 0;
  padding: 0;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(16, calc(310px / 16));
  grid-template-rows: repeat(16, calc(310px / 16));
}

.grid-square {
  border: solid 1px black;
}
