body {
  margin: 0;
  padding: 0;
}

.grid-container {
  --grid-side: 16;
  display: grid;
  grid-template-columns: repeat(var(--grid-side), calc(500px / var(--grid-side)));
  grid-template-rows: repeat(var(--grid-side), calc(500px / var(--grid-side)));
}

.grid-square {
  border: solid 1px black;
}

.black-background {
  background: black;
}
